{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon"
              type="image/ico"
              href="{% static 'images/favicon.ico' %}" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
              rel="stylesheet"
              type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="container mx-auto min-h-screen {% block container_classes %}{% endblock container_classes %}">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
